---
# =============================================================================
# REPOSITORY MANAGEMENT TASKS
# =============================================================================

- name: Check if enterprise repository exists
  stat:
    path: /etc/apt/sources.list.d/pve-enterprise.list
  register: enterprise_repo_file

- name: Comment out or disable enterprise repository
  lineinfile:
    path: /etc/apt/sources.list.d/pve-enterprise.list
    regexp: '^deb https://enterprise.proxmox.com'
    line: '# deb https://enterprise.proxmox.com/debian/pve {{ ansible_distribution_release }} pve-enterprise'
    backup: yes
    create: yes
  when: enterprise_repo_file.stat.exists or proxmox_disable_enterprise_repo
  notify: update apt cache

- name: Add Proxmox no-subscription repository
  apt_repository:
    repo: "deb http://download.proxmox.com/debian/pve {{ ansible_distribution_release }} pve-no-subscription"
    state: present
    filename: pve-no-subscription
  when: proxmox_enable_no_subscription_repo
  notify: update apt cache

- name: Remove Proxmox Ceph enterprise repository (if exists)
  apt_repository:
    repo: "deb https://enterprise.proxmox.com/debian/ceph-{{ ceph_version }} {{ ansible_distribution_release }} enterprise"
    state: absent
    filename: ceph
  when: proxmox_disable_ceph_enterprise_repo
  notify: update apt cache
  ignore_errors: true

- name: Add Proxmox Ceph no-subscription repository
  apt_repository:
    repo: "deb http://download.proxmox.com/debian/ceph-{{ ceph_version }} {{ ansible_distribution_release }} no-subscription"
    state: present
    filename: ceph
  when: proxmox_enable_ceph_no_subscription_repo
  notify: update apt cache